@inject IHttpContextAccessor Accessor
@using Common
@using MotelManagement.Data.Models
<!DOCTYPE html>
<html lang="en">
@if (!String.IsNullOrEmpty(@Accessor.HttpContext.Session.GetString("user")))
{
	User user = UserUtil.getUserFromSession(@Accessor.HttpContext.Session.GetString("user"));
	if (user.RoleName.Equals("Admin"))
	{
	}
	else
	{
		<text>
			Đăng nhập để truy cập vào website
		</text>
		<script>
			window.location.href="/errors";
		</script>
	}
}
else
{
	<text>Đăng nhập để truy cập vào website</text>
	<script>
		window.location.href = "/errors";
	</script>
}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hotel Dashboard Template</title>
	<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
	<link rel="stylesheet" href="~/Assets/Admin/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Assets/Admin/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="~/Assets/Admin/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/Assets/Admin/css/feathericon.min.css">
	<link rel="stylesheet" href="~/Assets/Admin/plugins/morris/morris.css">
	<link rel="stylesheet" href="~/Assets/Admin/css/style.css">
	<link rel="stylesheet" href="~/Assets/Admin/plugins/datatables/datatables.min.css">
	<link rel="stylesheet" type="text/css" href="~/Assets/Admin/css/bootstrap-datetimepicker.min.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a href="index.html" class="logo"> <img src="~/upload/logo.png" width="50" height="70" alt="logo"> <span class="logoclass">Xanh Lá</span> </a>
				<a href="index.html" class="logo logo-small"> <img src="~/Assets/Admin/img/hotel_logo.png" alt="Logo" width="30" height="30"> </a>
			</div>
			<a href="javascript:void(0);" id="toggle_btn"> <i class="fe fe-text-align-left"></i> </a>
			<a class="mobile_btn" id="mobile_btn"> <i class="fas fa-bars"></i> </a>
			<ul class="nav user-menu">
				<li class="nav-item dropdown noti-dropdown">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <i class="fe fe-bell"></i> <span class="badge badge-pill">3</span> </a>
					<div class="dropdown-menu notifications">
						<div class="topnav-dropdown-header"> <span class="notification-title">Notifications</span> <a href="javascript:void(0)" class="clear-noti"> Clear All </a> </div>
						<div class="noti-content">
							<ul class="notification-list">
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/Assets/Admin/img/profiles/avatar-02.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
												<p class="noti-time"><span class="notification-time">4 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/Assets/Admin/img/profiles/avatar-11.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">
														International Software
														Inc
													</span> has sent you a invoice in the amount of <span class="noti-title">$218</span>
												</p>
												<p class="noti-time"><span class="notification-time">6 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/Assets/Admin/img/profiles/avatar-17.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">
														Apple iPhone
														XR
													</span>
												</p>
												<p class="noti-time"><span class="notification-time">8 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
								<li class="notification-message">
									<a href="#">
										<div class="media">
											<span class="avatar avatar-sm">
												<img class="avatar-img rounded-circle" alt="User Image" src="~/Assets/Admin/img/profiles/avatar-13.jpg">
											</span>
											<div class="media-body">
												<p class="noti-details">
													<span class="noti-title">
														Mercury Software
														Inc
													</span> added a new product <span class="noti-title">
														Apple
														MacBook Pro
													</span>
												</p>
												<p class="noti-time"><span class="notification-time">12 mins ago</span> </p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="topnav-dropdown-footer"> <a href="#">View all Notifications</a> </div>
					</div>
				</li>
				<li class="nav-item dropdown has-arrow">
					<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> <span class="user-img"><img class="rounded-circle" src="~/upload/non_avatar.jpg" width="31" alt="Soeng Souy"></span> </a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm"> <img src="~/Assets/Admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> </div>
							<div class="user-text">
								<h6>Soeng Souy</h6>
								<p class="text-muted mb-0">Administrator</p>
							</div>
						</div> <a class="dropdown-item" href="profile.html">My Profile</a> <a class="dropdown-item" href="settings.html">Account Settings</a> <a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="sidebar" id="sidebar" style="z-index: 1001">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li> <a href="index.html"><i class="fas fa-tachometer-alt"></i> <span>Dashboard</span></a> </li>
						<li class="list-divider"></li>
						<li class="submenu">
							<a href="#"><i class="fas fa-suitcase"></i> <span> Quản Lí Phòng </span> <span class="menu-arrow"></span></a>
							<ul class="submenu_class" style="display: none;">
								<li><a href="/Admin/Room/List"> Danh Sách Phòng </a></li>
								<li><a href="/Admin/Room/Passing/List"> Danh Sách Nhượng Phòng </a></li>
								<li><a href="add-booking.html"> Add Booking </a></li>
							</ul>
						</li>
						<li> <a href="/Admin/Bill"><i class="far fa-money-bill-alt"></i> <span>Pricing</span></a> </li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="content container-fluid">
				@RenderBody()
			</div>
		</div>
	</div>
	<script src="~/Assets/Admin/js/jquery-3.5.1.min.js"></script>
	<script src="~/Assets/Admin/js/popper.min.js"></script>
	<script src="~/Assets/Admin/js/bootstrap.min.js"></script>
	<script src="~/Assets/Admin/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="~/Assets/Admin/js/moment.min.js"></script>
	<script src="~/Assets/Admin/js/select2.min.js"></script>
	<script src="~/Assets/Admin/js/bootstrap-datetimepicker.min.js"></script>
	<script src="~/Assets/Admin/plugins/datatables/datatables.min.js"></script>
	<script src="~/Assets/Admin/js/script.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>