@page "/admin/bill"
@model MotelManagement.Pages.admin.BillManagerModel
@{
}
<style>
    .dataTables_length li{
        display:flex;
    }
</style>
<div class="main-wrapper">

    <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Hóa đơn</h4>

                            <div class="btn-group float-right" style="margin-right: 40px;">
                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    Tùy chọn
                                </button>
                                <div class="dropdown-menu" style="">
                                    <a class="dropdown-item" href="#">Lưu hóa đơn</a>
                                    <a class="dropdown-item" href="#">Kết xuất hóa đơn</a>
                                    <a class="dropdown-item" href="#">Hoàn thành hóa đơn</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form>
                        <div class="row formtype">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>From</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>To</label>
                                    <div class="cal-icon">
                                        <input type="text" class="form-control datetimepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Tìm kiếm</label>
                                    <a href="#" class="btn btn-success btn-block mt-0 search_button"> Tìm kiếm </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped">
                                    <thead>
                                        <tr>
                                            <th>Invoice ID</th>
                                            <th>Tên khách hàng</th>
                                            <th>Điện</th>
                                            <th>Nước</th>
                                            <th>Dịch vụ</th>
                                            <th>Phòng</th>
                                            <th>Đã nộp</th>
                                            <th>Còn nợ</th>
                                            <th>Ngày nộp</th>
                                            <th>Ngày duyệt</th>
                                            <th>Ảnh</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="invoice-view.html">#INV-0001</a></td>
                                            <td>Charles Ortega</td>
                                            <td>50</td>
                                            <td>Paypal</td>
                                            <td>5-5-2020</td>
                                            <td>$320,000</td>
                                            <td>50</td>
                                            <td><input type="number"></td>
                                            <td>5-5-2020</td>
                                            <td>$320,000</td>
                                            <td>$320,000</td>
                                        </tr>
                                        <tr>
                                            <td><a href="invoice-view.html">#INV-0002</a></td>
                                            <td>Jason Cripps</td>
                                            <td>63</td>
                                            <td>Paypal</td>
                                            <td>10-5-2020</td>
                                            <td>$170,750</td>
                                            <td>50</td>
                                            <td><input type="number"></td>
                                            <td>5-5-2020</td>
                                            <td>$320,000</td>
                                            <td>$320,000</td>
                                        </tr>
                                        <tr>
                                            <td><a href="invoice-view.html">#INV-0003</a></td>
                                            <td>Silvia Ryan</td>
                                            <td>66</td>
                                            <td>Payer</td>
                                            <td>12-5-2020</td>
                                            <td>$86,000</td>
                                            <td>50</td>
                                            <td><input type="number"></td>
                                            <td>5-5-2020</td>
                                            <td>$320,000</td>
                                            <td>$320,000</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'LT'

            });
        });
    </script>
}
