@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" multiple></input>
    <input type="submit"></input>
</form>
